/* bouton bas des pages menus*/
.btn_cde
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 45px;
}
.btn_cde input /* contenu du btn*/
{
	font-family: 'Polices/roboto';
	font-weight: bold;
	color: $cr4-color;
	background: linear-gradient($cr2-color, $cr1-color);
	margin-top:nth($margin-top, 2);
	margin-bottom: nth($margin-bottom, 2);
	padding-right: nth($padding-right, 7);
	padding-left: nth($padding-left, 7);
	padding-top: nth($padding-top, 5);
	padding-bottom: nth($padding-bottom, 8);
	border-radius: 50px;
	box-shadow: none;
	width: 30%;
	&:hover {
		background:#FFACE2;
		box-shadow: 3px 5px #888;
		transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715) linear;
	}
	@media (min-width: 769px){
		width: 20%;
	}
}

/* bouton exploration page d'accueil*/
.description
{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $cr4-color;
	margin-top: nth($margin-top, 1);
	margin-bottom: nth($margin-bottom, 1);
	padding-bottom: nth($padding-bottom, 6);
}
.btn_choix input
{
	background: linear-gradient($cr2-color, $cr1-color);
	color: $cr4-color;
	font-family: 'Polices/roboto';
	font-weight: bold;
	border-radius: $border-radius3;
	margin-top:nth($margin-top, 2);
	margin-bottom: nth($margin-bottom, 2);
	padding-right: nth($padding-right, 7);
	padding-left: nth($padding-left, 7);
	padding-top: nth($padding-top, 5);
	padding-bottom: nth($padding-bottom, 5);
	&:hover {
		background-color: #F8BBD0;
		box-shadow: 3px 8px #888;
		transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715) linear;
	}
}
.btn_contact a
{
	color: $cr4-color;
}
