/* bouton bas des pages menus*/
.btn_cde
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 45px;
	
}
.btn_cde input /* contenu du btn*/
{
	font-family: 'roboto_normal';
	color: $cr4-color;
	background-color: $cr2-color;
	border-radius: $border-radius3;
	margin-top: nth($margin-top,2);
	margin-bottom: nth($margin-bottom, 2);
	box-shadow: none;
	width: 40%;
	&:hover {
		background-color:#FFACE2;
		box-shadow: 10px 5px 5px #E9E1EC;
	}
	@media (min-width: 769px){
		width: 20%;
	}
}

/* bouton exploration page d'accueil*/
.description
{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $cr4-color;
	margin-top: nth($margin-top, 1);
	margin-bottom: nth($margin-bottom, 1);
	padding-bottom: nth($padding-bottom, 6);
}
.btn_choix input
{
	background: $cr2-color;
	color: $cr4-color;
	font-family: 'roboto_normal';
	border-radius: $border-radius3;
	margin-top:nth($margin-top, 2);
	margin-bottom: nth($margin-bottom, 2);
	padding-right: nth($padding-right, 6);
	padding-left: nth($padding-left, 6);
	padding-top: nth($padding-top, 3);
	padding-bottom: nth($padding-bottom, 3);
}

.btn_contact a
{
	color: $cr4-color;
}