.btn_cde
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 45px;
}
.btn_cde input
{
	font-family: 'roboto_normal';
	color: $cr4-color;
	background-color: $cr2-color;
	border-radius: $border-radius3;
	margin-top: nth($margin-top,2);
	margin-bottom: nth($margin-bottom, 2);
	width: 40%;
}
.input 
{
	border-radius: $border-radius2;
	width: 45px;
	background-color: $cr2-color;
	
}
.description
{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #F2F2F2;
	margin-top: nth($margin-top, 1);
	margin-bottom: nth($margin-bottom, 1);
	padding-bottom: nth(padding-bottom, 6);
}
.btn_choix {
	background: #FF79DA;
	color: #FFFFFF;
	font-family: 'roboto_normal';
	border-radius: $border-radius3;
	margin-top:nth($margin-top, 2);
	margin-bottom: nth($margin-bottom, 2);
	margin-right: nth($margin-right, 6);
	transform: opacity(1);
	transition: transform 1000ms;
	&:hover{
		transform: opacity(0,5)
	}
}

.btn_contact a
{
	color: $cr4-color;
}