.fa
{
	font-weight: 1;
	padding-bottom: 5px;
	width: 10%;
	@media (min-width: 769px) {
		padding-top: 5px;
		width: 40px;
	}
}
.fa-wide {
	font-size: 20px;
	font-weight: 0;
	margin-top: nth($margin-top, 3);
	padding-right: nth($padding-right, 7);
}
.fa-around 
{
	display: flex;
	justify-content: center;
	margin-top: nth($margin-top, 6);
}
