.fa
{
	font-weight: 1;
	padding-bottom: 5px;
	width: 10%;
}
.fa-wide {
	font-size: 30px;
	font-weight: 0;
	margin-top: nth($margin-top, 3);
	padding-right: nth($padding-right, 4);
}
.fa-around 
{
	display: flex;
	justify-content: center;
	margin-top: nth($margin-top, 6);
}