.logo_accueil
{
	display: flex;
	justify-content: center;
	font-size: 20px;
}
.logo_cde img
{
	filter: invert(96%) sepia(96%) saturate(17%) hue-rotate(301deg) brightness(103%) contrast(107%);
	width: 100px;
	
}