.main_text {
    font-family:'roboto';
    font-size: 20px;
    padding-top: nth($padding-top, 5);
    padding-left: nth($padding-left, 5);
    padding-bottom: nth($padding-bottom, 4);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 70%;
}
.main_text-wide 
{
        display: flex;
        flex-direction: row;
		flex-wrap: wrap;
        padding-top: nth($padding-top, 7);
        font-size: 20px;
}
.text /* Sous titres des plats et localisation des restaurants */
{
	font-family: 'roboto';
	font-weight: bold;
	font-size: 15px;
	padding-bottom: nth($padding-bottom, 5);
	padding-left: nth($padding-left, 5);
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 70%;
	@media (min-width: 769px)
	{
		padding-left: 10px;
		text-overflow: "";
		overflow: visible;
		white-space: normal;
		width: 80%;
	}
}
.text1 {
	@media (min-width: 769px) {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}
	.text_menu {
		margin-left: nth($margin-left, 4);
        padding-top: nth($padding-top, 5);
        font-size: 20px;
}

/* Texte avec police ROBOTO (gras) et ROBOTO NORMAL */
.intitulé /* Restaurants et fonctionnements */
{
	font-family:'roboto';
	font-size: 25px;
}

.h2 
{
	font-family:'Shrikhand';
	font-size: 25px;
	margin-top: nth($margin-top, 4);
	margin-left: nth($margin-left, 3);
	margin-bottom: nth($margin-bottom, 4);
	@media (min-width: 769px) {
		padding-right: 30px;
	}
}