@import "./base/border";  
@import "./base/color";
@import "./base/margin";
@import "./Layout/pied_page"; /* Bloc footer commun aux 5 pages*/
@import "./Layout/bloc_cat_plat"; /* ENTREES, PLATS et DESSERTS dans page menu */
@import "./Layout/bloc_plat"; /* Descriptif des plats commun aux 4 pages menu */
@import "./Composants/btn_cde"; /* Bouton bas tte page commander */
@import "./Layout/entete"; /* logo commun aux 4 pages menus */
@import "./Composants/fa"; /* icone */
@import "./Composants/a"; /* ancres */
@import "./Layout/selection"; /* Bloc fonctionnement page d'accueil*/
@import "./Base/font_face"; /* Police*/
@import "./Pages/restaurants_et_footer"; /* bloc page accueil restaurants*/
@import "./Base/animations";

@media all and (max-device-width: 480px)
{

#page_accueil
{
	margin-top: nth($margin-top, 4);
	margin-bottom: nth($margin-bottom, 6);
}





.fonctionnement
{
	display: flex;
	flex-direction: column;
	margin-top: nth($margin-top, 2);
	margin-bottom: nth($margin-bottom, 2);
}





/* PAGE RESTAURANT PALETTE DU GOUT*/
#palette_du_gout
{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: $cr6-color;
}
}







