
@font-face /*charger la police applicable au site */
{
	font-family: 'roboto';
	src: url('Roboto-Bold.ttf');
	font-weight: normal;
	font-style: bold;
}
@font-face /*charger la police applicable au site */
{
	font-family: 'roboto_normal';
	src: url('Roboto-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face /*charger la police applicable au site */
{
	font-family: 'Shrikhand';
	src: url('Shrikhand-Regular.ttf'); 
	font-weight: normal;
	font-style: normal;
}
@font-face /*charger la police applicable au site */
{
	font-family: 'roboto_bold_italic';
	src: url('Roboto-BoldItalic.ttf'); 
	font-weight: normal;
	font-style: bold italic;
}
@media all and (max-device-width: 480px)
{

/*PAGE ACCUEIL*/
#page_accueil
{
	margin-top: 20px;
	margin-bottom: 30px;
}
.logo_accueil
{
	display: flex;
	justify-content: center;
}
.rechercher
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #F2F2F2;
	margin-top: 10px;
	width: 100%;
}
.zone_recherche 
{
	width: 60%;
	
}
.fa 
{
	font-weight: 10px
	padding-bottom: 2px;
}
input
{
	width: 100%;
	background-color: #F2F2F2;
	height: 30px;
	border: none;
}
.description
{
	display: flex;
	flex-direction: column;
	background-color: #F2F2F2;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-bottom: 15px;
	justify-content: center;
}
.btn_choix input
{
	font-family: 'roboto_normal';
	color: white;
	background-color: #FF79DA;
	border-radius: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 60%;
	margin-left: 65px;
	margin-right: 30px;
}
input:hover
{
	background-color: lightpink;
}
.fonctionnement
{
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	margin-bottom: 10px;
}
.selection
{
	display: flex;
	flex-direction: row;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 10px;
}
.option
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #F2F2F2;
	width: 100%;
	height: 35px;
	border-radius: 10px;
	margin-left: -10px;
	padding-top: 20px;
	font-family: 'roboto';
	z-index: 1;
}
.numero
{
	border-radius: 50%;
	background-color: #9356DC;
	padding: 8px;
	margin-bottom: 2px;
	height: 15px;
	z-index: 2;
	margin-top: 10px;
}
.restaurants_et_footer
{
	display: flex;
	flex-direction: column;
	background-color: #F2F2F2;
	margin-top: 10px;
	height: 70%;
	margin-bottom: 30px;
}
.intitulé
{
	margin-top: 20px;
	margin-left: 15px;
}
.banniere
{
	display: flex;
	
	background-color: #99E2D0;
	justify-content: center;
	color: green;
	z-index: 2;
	width: 25%;
	margin-bottom: -30px;
	margin-left: 230px;
}
.restaurant_choix
{
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	margin-left: 15px;
	margin-right: 15px;
	background-color: white;
	margin-top: 5px;
	margin-bottom: 10px;
	height: 25%;

}
.restaurant_choix img
{
	border-radius: 10px 10px 0px 0px;
	height: 130px;
	object-fit: cover;
	z-index: 1;
}
.commentaire
{
	display: flex;
	flex-direction: row;
	width: 100%;
}
.nom
{
	width: 60%;
}
fa-heart
{
	margin-left: 80px;
}



/* PAGE RESTAURANT PALETTE DU GOUT*/
#palette_du_gout
{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.entete
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}
.fa
{
	width: 10%;
}

.logo
{
	margin-right: 40px;
}
.logo image
{
	width: 80%;
	justify-content: center;
}
.image img
{
	width: 100%;
	height: 240px;
	z-index: 1;
}
.détail_palette
{
	
	border-radius: 20px 20px 0px 0px;
	background-color: #F2F2F2;
	position: absolute;
	width: 100%;
	z-index: 2;
	margin-top: -50px;
}
.intitulé_palette
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 5px;
}
.fa fa-heart
{
	font-size: 40px;
	background-color: #F2F2F2;
	font-family: 'roboto_normal';
	font-weight: 0;
	
}
.intitulé
{
	font-family:'Shrikhand';
	font-size: 25px;
}
.descriptif_plats
{
	display: flex;
	flex-direction: column;
	margin-top: 5px;

}
.bloc_plat
{
	display: flex;
	flex-direction: row;
	background-color: white;
	border-radius: 10px;
	margin: 10px;
	
}
.bloc_cat_plat
{
	margin-top: 10px;
}
.text_menu
{
	margin-left: 20px;
	border-bottom: solid 3px #99E2D0;
	border-bottom-width: 5px;
	
}

.main_text
{
	font-family: 'roboto';
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 70%;
}
.text
{
	font-family: 'roboto_normal';
	font-size: 12px;
	padding-bottom: 10px;
	padding-left: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 70%;
}
.prix
{
	padding-top: 30px;
	margin-left: 45px;
	width: 10%;
}
.input 
{
	border-radius: 20px;
	width: 45px;
	background-color: ##FF79DA;
	
}
#pied_page
{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 20%;
	font-family: 'roboto_normal';
	
}
