/* Error: Only 1 argument allowed, but 2 were passed.
 *   ,--> Composants\_btn_cde.scss
 * 46|         transform: opacity(0,5)
 *   |                    ^^^^^^^^^^^^ invocation
 *   '
 *   ,--> sass:color
 * 1 | @function opacity($color) {
 *   |           =============== declaration
 *   '
 *   Composants\_btn_cde.scss 46:14  @import
 *   style.scss 7:9                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Only 1 argument allowed, but 2 were passed.\a   \250c \2500 \2500 > Composants\\_btn_cde.scss\a 46\2502          transform: opacity(0,5)\d\a   \2502                     ^^^^^^^^^^^^ invocation\a   \2575 \a   \250c \2500 \2500 > sass:color\a 1 \2502  @function opacity($color) {\a   \2502            \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a   \2575 \a   Composants\\_btn_cde.scss 46:14  @import\a   style.scss 7:9                  root stylesheet";
}
