.bloc_plat
{
	display: flex;
	flex-direction: row;
	background-color: $cr4-color;
	border-radius: $border-radius1;
	margin: 10px;
	.nom_plat {
		width: 90%;
		.prix {
			display: flex;
			flex-direction: row;
			width: 10%;
			margin-top: nth($margin-top, 7);
			}
		}
	}
	


