.bloc_plat
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: $cr4-color;
	border-radius: $border-radius1;
	margin: 10px;
	margin-right: -40px;
	width: 100%;
	z-index: 1;
}
.les_menus
{
	width: 95%;
	@media (min-width: 769px) {
	width: 98%;
	display: flex;
	justify-content: space-between;
	}
}

.nom_plat {
	width: 70%;
}
.coche
{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 80px;
	z-index: 2;
}
.card {
	margin-top: 40px;
	width: 20px;
	padding-right: 10px;
}	
.card1 
{
	width: 70px;
	height:70px;
	overflow: hidden; /* ce qui dépasse de la coche est invisible*/
	max-width: 0px; /* la coche est repliée sur elle même*/
	background-color: $cr3-color;
}
.card1 i {
	padding-top: 30px;
	padding-left: 20px;
	width: 10px;
	color: #FFF;
}
.coche > .card:after {
	margin-left: 22px;
}
.coche:hover > .card1 {
    animation: icone 0.5s linear forwards;
}
@keyframes icone {
    0% {
        max-width: 0%;
    }
    50% {
        max-width: 20%;
    }
	100% {
		max-width: 70%;
	}
}
.coche:hover > .card1 i {
		animation: i 2s linear forwards;
		transition: 200ms ease-in-out;
		transform: scaleX(0);
}

@keyframes i {
	0% {
		transform: rotateZ(0turn);
	}
	50% {
		transform: rotateZ(0.15turn);
	}
	100% {
		transform: rotateZ(0.18turn);
	}
}