.fin_page
{
	display: flex;
	flex-direction: column;
	margin-top: nth($margin-top, 4);
	padding-bottom: nth($padding-bottom, 9);
	padding-left: nth($padding-left, 6);
	padding-top: 20px;
	background-color: $cr5-color;
	color: $cr4-color;
	font-family: 'roboto_normal';
	.propos {
		display: flex;
		flex-direction: row;
}
}



