
#page_accueil
{ 
    margin-top: nth($margin-top, 4);
	margin-bottom: nth($margin-bottom, 6);
    overflow: hidden;
    animation: page_accueil 0ms $page_accueil-delay both;
}
@keyframes page_accueil {
    0% {
        transform: translateX(-9999px);
    }
    100% {
        transform: translateX(0.1px);
    }
}

