
#page_accueil
{ 
    overflow: hidden;
    animation: page_accueil 0ms $page_accueil-delay both;
}
@keyframes page_accueil {
    0% {
        transform: translateX(-9999px);
    }
    100% {
        transform: translateX(0.1);
    }
}

