.presentation
{
	display: flex;
	flex-direction: column;
	background-color: $cr6-color;
	margin-top: nth($margin-top, 2);
}
.rechercher
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: $cr8-color;
	padding-top: nth($padding-top, 4);
	padding-bottom: nth($padding-bottom, 4);
	width: 100%;
}
.zone_recherche
 {
	width: 50%;
	background-color: $cr8-color;
}
.input 
{
	width: 100%;
	background-color: $cr8-color;
	height: 30px;
	border: 0px;
	@media (min-width: 769px) {
		width: 300px;
	}
}
.champs
{
	background-color: $cr8-color;
	@media (min-width: 769px) {
		width: 80%;
	}
}