.restaurants_et_footer
{
	display: flex;
	flex-direction: column;
	background-color: $cr6-color;
	margin-top: nth($margin-top, 3);
	height: 80%;
	margin-bottom: nth($margin-bottom, 6);
}
.banniere
{
	display: flex;
	background-color: $cr3-color;
	justify-content: center;
	color: green;
	position: absolute;
	z-index: 2;
	width: 25%;
	margin-bottom: -30px;
	margin-left: 230px;
	@media (min-width: 769px) {
		margin-left: 120px;
		width: 10%;
		
	}
}
.banniere-wide
{
	display: flex;
	opacity: 0;
	justify-content: center;
	color: green;
	z-index: 2;
	width: 25%;
	margin-bottom: -30px;
	margin-left: 230px;
	@media (min-width: 769px) {
		margin-left: 120px;
		margin-bottom: 60px;
		width: 10%;
		
	}
}
.restaurant_choix
{
	display: flex;
	flex-direction: column;
	border-radius: $border-radius1;
	margin-left: nth($margin-left, 3);
	margin-right: nth($margin-right, 3);
	background-color: $cr4-color;
	margin-top: nth($margin-top, 2);
	margin-bottom: nth($margin-bottom, 3);
	padding-bottom: 5px;
	width: 92%;
	@media (min-width: 769px) {
		width: 22%;
	}
}
.restaurant_choix img /* object-fit: cover; ne se met que dans les images */
{
	border-radius: $border-radius6;
	object-fit: cover;
	height: 200px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	z-index: 1;
	@media (min-width: 769px) {
		padding-top: 0;
	}
}
.commentaire
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
.nom
{
	display: flex;
	flex-direction: column;
	width: 90%;
}
.restaurants
{
	@media (min-width: 769px) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}