
/* Loader page d'accueil*/
$animation-delay: 4000ms;
$animation-dur: 50ms;
$page_accueil-delay: $animation-delay + $animation-dur;
.chargement {
    width: 100px;
    height: 200px;
    border: 20px solid $cr3-color;
    border-top: 20px solid $cr1-color;
    border-bottom: 20px solid $cr2-color;
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    animation: chargement $animation-delay $animation-dur;
    transform: scaleX(0);
}
@keyframes chargement {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Animation des menus sur les plats*/
.descriptif_plats
{
    animation-name: mon_anim;
    animation-duration: 3000ms;
    animation-delay: 500ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}
@keyframes mon_anim {
    0% {
        transform: translateY(10vh);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* Animation sur les coches*/
.coche
{
    &:hover {
        transform: translate(-20px,0px);
        transition: transform 2000ms ease-in-out;
    }
}
.card1:hover {
    opacity: 1;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card1 i:hover {
    animation: icone $animation-delay $animation-dur;
    transform: scaleX(0);
    opacity: 1;
}
    
@keyframes icone {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

/* Animation sur les coeurs */
.fa-heart
{
	color: #000;
}
.fa-heart::before {
	content: "\f004";
	font-weight: bold;
	transition: color 1s ease-out;
}
.fa-heart:hover::before{
	color: red;
	cursor: pointer;
}