$prog-descriptif_plats-delay: 3000ms;
$prog-descriptif_plats-dur: 3000ms;
.descriptif_plats
{
	display: flex;
	flex-direction: column;
	margin-top: nth($margin-top, 5);
    &__descriptif_plats{
        transform-origin: left;
        transform: scaleX(0.5);
        animation: descriptif_plats $prog-descriptif_plats-delay $prog-descriptif_plats-dur;
        animation-fill-mode: both;
        }
}

/*Animation du loading spinner page d'accueil*/
$cd-bars: $cr3-color;
$size: 3vh;
$anim-dur: 2000ms;
$num-bars: 5;
$anim-delay: $anim-dur / $num-bars;

.load {
	width: $size*10;
	height: $size*7.5;
	display: flex;
	justify-content: space-evenly;
	&__bar {
		background-color: $cr3-color;
		height: 100%;
		width: $size;
        animation: bars $anim-dur backwards;
        @for $i from 1 through 5 {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
            }
        }
	}
}

@keyframes bars {
    0% {
        transform: scaleY(0.5);
    }
    100% {
        transform: scaleY(1.0);
    }
}

