@font-face /*charger la police applicable au site */
{
	font-family:'roboto';
	src: url('Roboto-Bold.ttf');
	font-weight: normal;
	font-style: bold;
}
@font-face /*charger la police applicable au site */
{
	font-family:'roboto_normal';
	src: url('Roboto-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face /*charger la police applicable au site */
{
	font-family:'Shrikhand';
	src: url('Shrikhand-Regular.ttf'); 
	font-weight: normal;
	font-style: normal;
}
@font-face /*charger la police applicable au site */
{
	font-family:'roboto_bold_italic';
	src: url('Roboto-BoldItalic.ttf'); 
	font-weight: normal;
	font-style: bold italic;
}